# HCP access credentials; these may also be set on the HCP Provider directly
export HCP_CLIENT_ID="..."
export HCP_CLIENT_SECRET="..."

# AWS access credentials; these may also be set on the AWS Provider directly
export AWS_ACCESS_KEY_ID="..."
export AWS_SECRET_ACCESS_KEY="..."
export AWS_SESSION_TOKEN="..."
